<p id="notice"><%= notice %></p>

<h1>Children</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Parent</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @children.each do |child| %>
      <tr>
        <td><%= child.name %></td>
        <td><%= child.parent_id %></td>
        <td><%= link_to 'Show', parent_child_path(@parent, child) %></td>
        <td><%= link_to 'Edit', edit_parent_child_path(@parent, child) %></td>
        <td><%= link_to 'Destroy', [@parent, child], data: { confirm: 'Are you sure?' },method: :delete  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Child', new_parent_child_path(@parent) %>
